<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plant by Name</title>
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
</head>
<body>
<table class="table table-bordered">
    <tr class="table-striped">
        <th>Name</th>
        <th>Power</th>
        <th>Events</th>
    </tr>
    <th:block th:each="single: ${plantByName}">
        <tr>
            <td th:text="${single.name}"></td>
            <td th:text="${single.power}"></td>
            <td th:text="${single.events}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>