<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New event</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h1>Save</h1>
    <hr>
    <h2>Save event</h2>

    <form action="#" th:action="@{saveEvent}" th:object="${event}" method="POST">

        <div class="control-group">
            <label class="control-label">Event type</label>
            <select th:field="*{typeOfEvent}">
                <option th:each="i : ${T(ZadanieRekrutacyjne.ZadanieRekrutacyjne.Enums.EventType).values()}"
                        th:value="${i}"
                        th:text="${i}"></option>
            </select>
        </div>
        Power drop
        <div th:if="${#fields.hasErrors('powerDrop')}" th:errors="*{powerDrop}">Invalid power drop</div>
        <input type="text" th:field="*{powerDrop}" placeholder="power drop" class="form-control mb-4 col-4">
        Start date
        <div th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">Invalid start date</div>
        <input type="text" th:field="*{startDate}" placeholder="YYYY-MM-DD" class="form-control mb-4 col-4">
        End date
        <div th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">Invalid end date</div>
        <input type="text" th:field="*{endDate}" placeholder="YYYY-MM-DD" class="form-control mb-4 col-4">


        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
</div>
</body>
</html>