<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h1>Update</h1>
    <hr>
    <h2>Update powerPlant</h2>

    <form action="#" th:action="@{~/savePowerPlant}" th:object="${plant}" method="POST">
        <input th:value="${plant.id}" type="hidden" th:field="*{id}">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid Name</div>
        <input type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4">

        <div th:if="${#fields.hasErrors('power')}" th:errors="*{power}">Invalid power</div>
        <input type="text" th:field="*{power}" placeholder="power" class="form-control mb-4 col-4">


        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
</div>
</body>
</html>